@{
    ViewData["Title"] = "Liste utilisateurs";
}

<div class="text-center">
    @if ((string)TempData["isConfirmation"] == "true") {
        <partial name="VuePartielleConfirmation"/> //Html.RenderPartialAsync("VuePartielleConfirmation");
    }
        
    <h1 class="display-4">Liste Utilisateurs</h1>
    <div id="users">
        @foreach (Utilisateur utilisateur in Model.GetCatalogue()) {
            <div class="utilisateur">
                <p>Pseudo: @utilisateur.Pseudo</p>
                <p>Role: @utilisateur.Role</p>
                <p>Prénom: @utilisateur.Prenom</p>
                <p>Nom: @utilisateur.Nom</p>
                @if (utilisateur.Pseudo != (string)TempData["username"]) {
                    <a class="btn" asp-action="ConfirmerDelete" asp-controller="admin" asp-route-username="@utilisateur.Pseudo">Supprimer</a>
                }
            </div>
        }
    </div>
</div>

