@{
    ViewData["Title"] = "Liste utilisateurs";
    ViewData["username"] = "TEMP TEST";
    ViewData["UserPseudo"] = "Xx_pseudo_xX";
    ViewData["UserRole"] = "Utilisateur";
    ViewData["UserPrenom"] = "Kevin";
    ViewData["UserNom"] = "Tremblay";
}

<div class="text-center">
    <h1 class="display-4">Liste Utilisateurs</h1>
    <div id="supprimer">
        <p>Voulez-vous bel et bien supprimer l'utilisateur @ViewData["UserPseudo"]</p>
        <button>Confirmation Supprimmer</button>   
    </div>
    <div id="users">
        @foreach (Utilisateur utilisateur in Model.GetCatalogue())
        {
            <div class="utilisateur">
                <p>Pseudo: @utilisateur.Pseudo</p>
                <p>Role: @utilisateur.Role</p>
                <p>Prénom: @utilisateur.Prenom</p>
                <p>Nom: @utilisateur.Nom</p>
                <button id="">Supprimer</button>
            </div>
        }
    </div>
</div>
@section adminScript{
    <script src="~/js/admin.js" async="true" asp-append-version="true"></script>
}
