@{
    ViewData["Title"] = "Liste utilisateurs";
}

<div class="text-center"> 
    <h1 class="display-4">Liste Utilisateurs</h1>
    @if ((string)TempData["isConfirmation"] == "true") {
        <partial name="VuePartielleConfirmation"/>
    }
    <div id="users">
        <!-- afficher les users et admins-->
        @foreach (Utilisateur utilisateur in Model.GetCatalogue()) {
            <div class="utilisateur">
                <p>Pseudo: @utilisateur.Pseudo</p>
                <p>Role: @utilisateur.Role</p>
                <p>Prénom: @utilisateur.Prenom</p>
                <p>Nom: @utilisateur.Nom</p>
                @if (utilisateur.Pseudo != (string)TempData["username"]) {
                    <button>
                        <a class="btn" asp-action="ConfirmerDelete" asp-controller="admin" asp-route-username="@utilisateur.Pseudo">Supprimer</a>
                    </button>
                }
                else
                {
                    <button class="disable">
                        <a class="btn disable">Supprimer</a>
                    </button>
                }
            </div>
        }
    </div>
</div>

