@{
    ViewData["Title"] = "Home Page";
}

@model TP2_final.Models.Catalogue

<div class="text-center">
    <!--Todo -> faut afficher les medias-->
    <h1 class="display-4">Catalogue</h1>
    <div class="top_catalogue">
        @foreach (Media media in Model.GetCatalogue())
        {
            Console.WriteLine(media.Nom);
            <a class="media" asp-controller="User" asp-action="Fiche?@media.Nom">
                <img src="@media.Image" alt="Image @media.Nom"></img>
                <span>@media.Nom</span>
                <span>@media.Auteur</span>
                <span>@media.Duree</span> <!-- voir pour classe utilitaire jar, formatDurree() -->
            </a>
            
            
            
        }

    </div>

    @*<a asp-controller="User" asp-action="Fiche">Fiche</a>*@
</div>