@using static TP2_final.Utilitaire;
@{
    ViewData["Title"] = "Mes Favoris";
}

<div class="text-center">

    <h1 class="display-4">Favoris</h1>

    <div id="Test">
        @* @Model.Favoris *@
        @foreach (Favoris fav in Model.Favoris)
        {
            @*TODO: -> remplacer par user connexion genre tempData*@
            if (fav.UserName == "CRAZY3")
            {
                foreach (Media item in Model.Medias)
                {
                    if (item.Nom == fav.MediaName)
                    {
                        <a class="media" asp-controller="User" asp-action="Fiche" asp-route-nomMedia="@item.Nom">
                            <img src="@Url.Content("~/" + item.Image)" alt="Image @item.Nom" class="miniatureCatalogue"></img>
                            <span class="fw-bold">@item.Nom</span>
                            <span>@item.Auteur</span>
                            <span>@Utilitaire.getDureeFormat(item.Duree)</span>
                        </a>
                    }
                }
            }
        }
    </div>
</div>
