@using static TP2_final.Utilitaire;
@{
    String? nom = ViewData["nomMedia"]?.ToString() ?? "";
    Media? media = null;
    if (!String.IsNullOrEmpty(nom)) media = Model.Medias.GetMediaByNom(nom);
    ViewData["Title"] = "Fiche " + media?.Nom ?? "Invalide";
}

<div class="text-center">
    @if (!(media is null))
    {
        <h1 class="display-4">Fiche complète de "@media.Nom"</h1>
        <div class="fiche">
            <div class="fiche-header">
                <img src="@Url.Content("~/"+media.Image)" alt="Miniature de @media.Nom" class="miniatureCatalogue" />
                <div class="header-nom">
                    <span>Nom:</span>
                    <h2>@media.Nom</h2>
                </div>
            </div>
            <div class="fiche-infos">
                <div class="fiche-element">
                    <span>Type:</span>
                    <span>@media.Type</span>
                </div>
                <div class="fiche-element">
                    <span>Date:</span>
                    <span>@getDateFormat(media.DateRealisation)</span>
                </div>
                <div class="fiche-element">
                    <span>Durée:</span>
                    <span>@getDureeFormat(media.Duree)</span>
                </div>
                <div class="fiche-element">
                    <span>Auteur:</span>
                    <span>@media.Auteur</span>
                </div>
                <div class="fiche-element">
                    <span>Producteur:</span>
                    <span>@media.Producteur</span>
                </div>
            </div>
            <div>
                @if (Model.Favoris.GetFavoris((string)TempData["username"], media.Nom) is null) {// si media pas en favoris
                    <a class="btn" asp-controller="User" asp-action="AjouterFavoris" asp-route-nomMedia="@media.Nom">Ajouter comme favoris ❤</a>
                } else {// si media en favoris
                    <a class="btn" asp-controller="User" asp-action="RetirerFavoris" asp-route-nomMedia="@media.Nom">Supprimer des favoris ♡</a>
                }
            </div>
        </div>
    }
    else
    {
        <h1 class="display-4">Impossible d'afficher la fiche complète, veuillez réessayer.</h1>
    }

    @section Css {
        <link href="~/css/fiche.css" rel="stylesheet" type="text/css" />
    }
</div>