@using static TP2_final.Utilitaire;
@{
    Media media = Model.GetMedia(ViewData["nomMedia"].ToString());
    ViewData["Title"] = "Fiche " + media.Nom;
}

<div class="text-center">
    <h1 class="display-4">Fiche complète de "@media.Nom"</h1>
    <div class="fiche">
        <div class="fiche_header">
            <img src="TODO" alt="Miniature de @media.Nom" />
            <div>
                <span>Nom:</span>
                <h2>@media.Nom</h2>
            </div>
        </div>
        <div class="fiche_infos">
            <div>
                <span>Type:</span>
                <span>@media.Type</span>
            </div>
            <div>
                <span>Date:</span>
                <span>@getDateFormat(media.DateRealisation)</span>
            </div>
            <div>
                <span>Durée:</span>
                <span>@getDureeFormat(media.Duree)</span>
            </div>
            <div>
                <span>Auteur:</span>
                <span>@media.Auteur</span>
            </div>
            <div>
                <span>Producteur:</span>
                <span>@media.Producteur</span>
            </div>
        </div>
    </div>

</div>

@section css {
    <link rel="stylesheet" href="~/css/medias.css" asp-append-version="true" />
}