@using static TP2_final.Utilitaire;
@{
    ViewData["Title"] = "Home Page";
    ViewData["mediaRemove"] = "Nom de media";
}

<div class="text-center h-100">
    <h1 class="display-4">Catalogue</h1>
    <div id="message">
        <p>Message (Ajout de media dasn ses favoris)</p>
    </div>
    <div id="confrimation">
        <p>Êtes vous sûr que vous voulez supprimer @ViewData["mediaRemove"] de vos favoris ?</p>
    </div>
    <div class="top_catalogue">
        <!-- afficher les medias-->
        @foreach (Media media in Model.GetCatalogue())
        {
            <a class="media" asp-controller="User" asp-action="Fiche" asp-route-nom="@media.Nom">
                <img src="@Url.Content("~/"+media.Image)" alt="Image @media.Nom" class="miniatureCatalogue"></img>
                <span class="fw-bold">@media.Nom</span>
                <span>@media.Auteur</span>
                <span>@getDureeFormat(media.Duree)</span>
                <!--
                    <a class="btn" asp-controller="User" asp-action="" asp-route-nomMedia="@media.Nom">❤</a>
                <a class="btn" asp-controller="User" asp-action="" asp-route-nomMedia="@media.Nom">♡</a>
                -->
            </a>
        }

    </div>

</div>
