@using static TP2_final.Utilitaire;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center h-100">
    <h1 class="display-4">Catalogue</h1>
    @if ((string)TempData["messageOn"] == "true")
    {
        <div id="message">
        @if ((string)TempData["add"] == "true")
        {
                <p>Le média (nom du media) a été ajouté aux favoris</p>
        }
        @if ((string)TempData["remove"] == "true")
        {
                <p>Le média (nom du media) a été retiré des favoris</p>
        }
        </div>
    }
    @if ((string)TempData["isConfirmation"] == "true")
    {
        <div id="confrimation">
            <p>Êtes vous sûr que vous voulez supprimer @TempData["favoToDelete"] de vos favoris ?</p>
            <a class="aConfirmation" asp-action="DeleteUser" asp-controller="admin" asp-route-username="@TempData["usernameToDelete"]">Supprimer @TempData["usernameToDelete"]</a>
            <a class="aConfirmation" asp-action="AnnulerDeleteUser" asp-controller="admin">Annuler</a>
        </div>
    }   
    <div class="top_catalogue">
        <!-- afficher les medias-->
        @foreach (Media media in Model.GetCatalogue())
        {
            <div class="mediaNLogo">
                <a class="media" asp-controller="User" asp-action="Fiche" asp-route-nom="@media.Nom">
                    <img src="@Url.Content("~/"+media.Image)" alt="Image @media.Nom" class="miniatureCatalogue"></img>
                    <span class="fw-bold">@media.Nom</span>
                    <span>@media.Auteur</span>
                    <span>@getDureeFormat(media.Duree)</span>
                </a>
                <div class="logo">
                    <a class="btn" asp-action="ajouterFavo" asp-controller="User" asp-route-username="@media.Nom">❤️</a>
                    <a class="btn" asp-action="ConfirmerDelete" asp-controller="User" asp-route-username="@media.Nom">🤍</a>
                </div>
            </div>
        }

    </div>

</div>
