@using static TP2_final.Utilitaire;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center h-100">
    <!--Todo -> faut afficher les medias-->
    <h1 class="display-4">Catalogue</h1>
    <div class="top_catalogue">

        @foreach (Media media in Model.GetCatalogue())
        {
            <a class="media" asp-controller="User" asp-action="Fiche" asp-route-nom="@media.getId()">
                <img src="@media.Image" alt="Image @media.Nom" class="miniatureCatalogue"></img>
                <span class="fw-bold">@media.Nom</span>
                <span>@media.Auteur</span>
                <span>@getDureeFormat(media.Duree)</span>
            </a>
           
        
            
        }

    </div>

</div>

@section css {
    <link rel="stylesheet" href="~/css/medias.css" asp-append-version="true" />
}
