@using static TP2_final.Utilitaire;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center h-100">
    <h1 class="display-4">Catalogue</h1>
    @if ((string)TempData["messageOn"] == "true")
    {
        <div id="message">
        @if ((string)TempData["add"] == "true")
        {
                <p>Le média <b>@TempData["favoAdd"]</b> a été ajouté aux favoris</p>
        }
        @if ((string)TempData["remove"] == "true")
        {
                <p>Le média <b>@TempData["favoRemove"]</b> a été retiré des favoris</p>
        }
        </div>
    }
    @if ((string)TempData["isConfirmation"] == "true")
    {
        <div id="confrimation">
            <p>Êtes vous sûr que vous voulez supprimer <b>@TempData["favoToDelete"]</b> de vos favoris ?</p>
            <a class="aConfirmation" asp-action="RetirerFavoris" asp-controller="User" asp-route-nomMedia="@TempData["favoToDelete"]" asp-route-page="Index">Confirmer</a>
            <a class="aConfirmation" asp-action="AnnulerDeleteUser" asp-controller="User">Annuler</a>
        </div>
    }   
    <div class="top_catalogue">
        <!-- afficher les medias-->
        @foreach (Media media in Model.Medias.GetCatalogue())
        {
            <div class="mediaNLogo">
                <a class="media" asp-controller="User" asp-action="Fiche" asp-route-nom="@media.Nom">
                    <img src="@Url.Content("~/"+media.Image)" alt="Image @media.Nom" class="miniatureCatalogue"></img>
                    <span class="fw-bold">@media.Nom</span>
                    <span>@media.Auteur</span>
                    <span>@getDureeFormat(media.Duree)</span>
                </a>
                <div class="logo">
                    @{
                        List<Favoris> list = Model.Favoris.GetFavoris((string)TempData["username"]);
                    }
                    @if(list.Any(f=>f.MediaName == media.Nom)){
                        <a class="btn" asp-action="ConfirmerDelete" asp-controller="User" asp-route-NomMedia="@media.Nom">❤️</a>
                    }
                    else{
                        <a class="btn" asp-action="AjouterFavoris" asp-controller="User" asp-route-NomMedia="@media.Nom">🤍</a>
                    }
                    
                </div>
            </div>
        }

    </div>

</div>
